In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tasiilaq,GL,2021-11-03 19:37:56,65.6145,-37.6368,30.36,86,14,8.08
1,1,Mataura,NZ,2021-11-03 19:37:57,-46.1927,168.8643,50.49,60,8,2.91
2,2,Barrow,US,2021-11-03 19:37:57,71.2906,-156.7887,24.82,86,90,16.11
3,3,Ushuaia,AR,2021-11-03 19:34:41,-54.8000,-68.3000,49.62,66,75,28.77
4,4,Geraldton,AU,2021-11-03 19:37:58,-28.7667,114.6000,55.81,88,6,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Get the maximum temperature. #OR adjust heat_layer below to be weights=temps 
#max_temp = city_data_df["Max Temp"]
#temps = []
##for temp in max_temp:
    #temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Armstrong,AR,2021-11-03 19:37:59,-32.7822,-61.6022,80.58,40,0,4.83
9,9,Amapa,BR,2021-11-03 19:38:00,1.0000,-52.0000,81.82,68,100,2.84
13,13,Kahului,US,2021-11-03 19:38:03,20.8947,-156.4700,83.97,75,40,10.36
15,15,Hilo,US,2021-11-03 19:38:04,19.7297,-155.0900,82.26,70,1,0.00
20,20,Puerto Madryn,AR,2021-11-03 19:38:06,-42.7692,-65.0385,80.35,35,100,25.84
26,26,San Cristobal,VE,2021-11-03 19:38:08,7.7669,-72.2250,77.18,74,100,0.67
27,27,Akyab,MM,2021-11-03 19:38:08,20.1500,92.9000,75.65,75,39,6.87
28,28,Ambilobe,MG,2021-11-03 19:38:09,-13.2000,49.0500,75.45,84,16,2.86
29,29,Matinhos,BR,2021-11-03 19:38:09,-25.8175,-48.5428,85.66,81,68,10.63
34,34,Inirida,CO,2021-11-03 19:38:11,3.8653,-67.9239,85.39,62,99,0.56

In [24]:
preferred_cities_df.count()

City_ID       165
City          165
Country       164
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
7       Armstrong      AR     80.58 -32.7822  -61.6022
9           Amapa      BR     81.82   1.0000  -52.0000
13        Kahului      US     83.97  20.8947 -156.4700
15           Hilo      US     82.26  19.7297 -155.0900
20  Puerto Madryn      AR     80.35 -42.7692  -65.0385
26  San Cristobal      VE     77.18   7.7669  -72.2250
27          Akyab      MM     75.65  20.1500   92.9000
28       Ambilobe      MG     75.45 -13.2000   49.0500
29       Matinhos      BR     85.66 -25.8175  -48.5428
34        Inirida      CO     85.39   3.8653  -67.9239

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
hotel_df.head()

             City Country  Max Temp      Lat       Lng           Hotel Name
7       Armstrong      AR     80.58 -32.7822  -61.6022      Armstrong Hotel
9           Amapa      BR     81.82   1.0000  -52.0000
13        Kahului      US     83.97  20.8947 -156.4700   Maui Seaside Hotel
15           Hilo      US     82.26  19.7297 -155.0900  Hilo Hawaiian Hotel
20  Puerto Madryn      AR     80.35 -42.7692  -65.0385         Hotel Tolosa

In [40]:
# Create info box for pop-up markers
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
""" 
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))